@import 'bulma/css/bulma.css';

.players {
  --d: 4em;
  /* image size */
  --rel_temp: calc(var(--m)*var(--m));
  --rel: calc(24/var(--rel_temp));
  /* how much extra space we want between images, 1 = one image size */
  --r_temp: calc(1 + var(--rel));
  --r: calc(.5*var(--r_temp)*var(--d)/var(--tan));
  /* circle radius */
  --s: calc(2*var(--r) + var(--d));
  /* container size */
  position: relative;
  width: calc(var(--s) + 2em);
  height: calc(var(--s) + 2em);
  border-radius: 50%;
}

.players div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-.5*var(--d));
  width: var(--d);
  height: var(--d);
  --az: calc(var(--i)*1turn/var(--m));
  transform: rotate(var(--az)) rotate(-90deg) translate(var(--r)) rotate(calc(-1*var(--az))) rotate(90deg);
}

.fire-img {
  height: var(--d);
  width: auto;
}

.role-img {
  height: 1.8em;
  width: auto;
}

.burg-img {
  height: 1.6em;
  width: auto;
  position: fixed;
  left: -10%;
  bottom: 35%;
}

@media screen and (max-width: 1024px) {
  .container {
      max-width: 705px;
  }
}
